.container {
    width: 950px;
    background-color: #eaeaea;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .top-nav {
    height: 150px;
    background-color: #ffcc00;
    margin: 0 0 10px 0;
  }
  .main-container {
    width: 100%;
    font-size: 0; 
  }
  .main {
    display: inline-block;
    width: 700px; 
    height: 400px;
    background-color: deeppink;
    padding: 10px;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box; 
  }
  .side-nav {
    display: inline-block;
    width: 240px; 
    height: 400px;
    background-color: #66ccff;
    vertical-align: top;
    margin-left: 10px;
    text-align: center;
    font-size: 16px;
    
  }
  .sub-content {
    display: inline-block;
    width: 210px;
    height: 200px;
    background-color: mediumblue;
    margin-right: 10px;
    text-align: center;
    line-height: 200px;
    color: #1900ff;
  }
#advertisement {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #3cf13c;
    margin-top: 20px;
    text-align: center;
    line-height: 120px;
    color: #ffffff;
  }
  